<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_PATH}bootstrap.css">
    <!--<script src="{JS_PATH}jquery.min.js"></script>-->
    <link rel="stylesheet" href="{SRC_PATH}kindeditor/themes/default/default.css" />
    <link rel="stylesheet" href="{SRC_PATH}kindeditor/plugins/code/prettify.css" />
    <script charset="utf-8" src="{SRC_PATH}kindeditor/kindeditor-all.js"></script>
    <script charset="utf-8" src="{SRC_PATH}kindeditor/lang/zh-CN.js"></script>
    <script charset="utf-8" src="{SRC_PATH}kindeditor/plugins/code/prettify.js"></script>
</head>
<style>
    #myform{
        margin-top:5%;
        margin-left:5%;
    }
    #myhide{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        margin:auto;
        z-index: 999999;
        display: none;
        text-align: center;
        font-size: 18px;
    }
</style>
<script>
    KindEditor.ready(function(K) {
        var editor1 = K.create('textarea[name="content1"]', {
            cssPath : '{SRC_PATH}kindeditor/plugins/code/prettify.css',
            uploadJson : '{SRC_PATH}kindeditor/php/upload_json.php',
            fileManagerJson : '{SRC_PATH}kindeditor/php/file_manager_json.php',
            allowFileManager : true,
            afterCreate : function() {
                var self = this;
                K.ctrl(document, 13, function() {
                    self.sync();
                    K('form[name=example]')[0].submit();
                });
                K.ctrl(self.edit.doc, 13, function() {
                    self.sync();
                    K('form[name=example]')[0].submit();
                });
            }
        });
        prettyPrint();
    });
</script>
<body>
<div class="panel-heading">
    <h3 class="panel-title">内容管理</h3>
</div>
<div id="myhide" class="alert alert-success col-md-8" role="alert">...</div>
<form id="myform" action="index.php?m=admin&f=content&a=addcontent&id=$curl" method="post" enctype="multipart/form-data">
    <div class="form-group col-md-8">
        <label for="select">请选择栏目</label>
        <select class="form-control" name="id" id="select">
            <!--<option value="0">作为一级栏目存在</option>-->
            {$str}
        </select>
    </div>
    <div class="form-group col-md-8">
        <label for="title">内容标题</label>
        <input type="text" class="form-control" name="title"  id="title" placeholder="请输入内容">
    </div>
    <div class="form-group col-md-8">
    <label for="title">内容</label>
        <textarea name="miao" id="se" class="form-control"></textarea>
    </div>
    <div class="form-group col-md-8">
    <label for="title">内容图片</label>
        <textarea name="content1" class="content" style="width:700px;height:200px;visibility:hidden;"></textarea>
    </div>

    <div class="form-group div-btn col-md-10">
        <button class="btn btn-success go">添加</button>
    </div>
</form>
</body>
</html>