<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lucky</title>
    <link rel="stylesheet" href="../../src/css/rest.css">
    <link rel="shortcut icon" href="../../src/img/logo.png">
    <link rel="stylesheet" href="../../src/css/comments.css">
    <link rel="stylesheet" href="../../src/css/bootstrap.css">
    <script src="../../src/js/bootstrap.min.js"></script>
    <script src="../../src/js/jquery.min.js"></script>
    <script src="../../src/js/comment.js"></script>
</head>
<body style="background:#f6f5fa;margin:0 auto">
<header>
    <div>
    </div>
</header>
    <!-- 头部结束 -->
    <section class="nw-section">
        <main class="wn-count">
            <div class="wn-show">
                <div class="show-title">
                    <a href="">首页</a> 》<span>产品展示</span>
                    <div style="border: solid 1px #5c5c5c;"></div>
                    <div class="lipGloss"></div>
                    <div class="flaming">
                        <ul>
                            <li>
                                <a  href=""><img src="../../src/img/right.png" alt=""></a>
                            </li>
                            <li style="background:#000">
                                <img src="../../src/img/red7.png" alt="">
                            </li>
                            <li>
                                <a  href=""><img src="../../src/img/right.png" alt=""></a>
                            </li>
                            <li style="background:#000">
                                <img src="../../src/img/red8.png" alt="">
                            </li>
                            <li style="background:#000">
                                <img src="../../src/img/red5.png" alt="">
                            </li>
                            <li>
                                <a  href=""><img src="../../src/img/left.png" alt=""></a>
                            </li>
                            <li style="background:#000">
                                <img src="../../src/img/red6.png" alt="">
                            </li>
                            <li>
                                <a  href=""><img src="../../src/img/left.png" alt=""></a>
                            </li>
                            <li>
                                <a  href=""><img src="../../src/img/right.png" alt=""></a>
                            </li>
                            <li style="background:#000">
                                <img src="../../src/img/red3.png" alt="">
                            </li>
                            <li>
                                <a  href=""><img src="../../src/img/right.png" alt=""></a>
                            </li>
                            <li style="background:#000">
                                <img src="../../src/img/red4.png" alt="">
                            </li>
                            <li style="background:#000">
                                <img src="../../src/img/red1.png" alt="">
                            </li>
                            <li>
                                <a  href=""><img src="../../src/img/left.png" alt=""></a>
                            </li>
                            <li style="background:#000">
                                <img src="../../src/img/red2.png" alt="">
                            </li>
                            <li>
                                <a href="">
                                    <img src="../../src/img/left.png" alt="">
                                </a>
                            </li>
                        </ul>
                        
                    </div> 
                    <div class="lipGloss02"></div>
                    <div class="wn-top">
                        <ul>
                            <li>
                                <div class="wn-img"> 
                                    <a href="">
                                        <img src="../../src/img/323369521191638693.png" alt="">
                                    </a>
                                </div>
                                <div class="wn-perfume" >
                                    <h3>TOP PERFUME</h3>
                                    <p>经/典/永/存/品/味/巅/峰</p>
                                    <p>Classical Eternal grade peak rade</p>
                                    <p style="margin-top">$ 2540 </span><span><a href="">了解详情》</a></p>
                                </div>

                            </li>
                            <li>
                                <div class="wn-img"> 
                                    <a href="">
                                        <img src="../../src/img/323369521191638693.png" alt="">
                                    </a>
                                </div>
                                <div class="wn-perfume" >
                                    <h3>TOP PERFUME</h3>
                                    <p>经/典/永/存/品/味/巅/峰</p>
                                    <p>Classical Eternal grade peak rade</p>
                                    <p>$ 2540 </span><span><a href="">了解详情》</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="wn-img"> 
                                    <a href="">
                                        <img src="../../src/img/323369521191638693.png" alt="">
                                    </a>
                                </div>
                                <div class="wn-perfume" >
                                    <h3>TOP PERFUME</h3>
                                    <p>经/典/永/存/品/味/巅/峰</p>
                                    <p>Classical Eternal grade peak rade</p>
                                    <p>$ 2540</span><span><a href="">了解详情》</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="wn-img"> 
                                    <a href="">
                                        <img src="../../src/img/323369521191638693.png" alt="">
                                    </a>
                                </div>
                                <div class="wn-perfume" >
                                    <h3>TOP PERFUME</h3>
                                    <p>经/典/永/存/品/味/巅/峰</p>
                                    <p>Classical Eternal grade peak rade</p>
                                    <p>$ 2540 </span><span><a href="">了解详情》</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="wn-img"> 
                                    <a href="">
                                        <img src="../../src/img/323369521191638693.png" alt="">
                                    </a>
                                </div>
                                <div class="wn-perfume" >
                                    <h3>TOP PERFUME</h3>
                                    <p>经/典/永/存/品/味/巅/峰</p>
                                    <p>Classical Eternal grade peak rade</p>
                                    <p>$ 2540 </span><span><a href="">了解详情》</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="wn-img"> 
                                    <a href="">
                                        <img src="../../src/img/323369521191638693.png" alt="">
                                    </a>
                                </div>
                                <div class="wn-perfume" >
                                    <h3>TOP PERFUME</h3>
                                    <p>经/典/永/存/品/味/巅/峰</p>
                                    <p>Classical Eternal grade peak rade</p>
                                    <p>$ 2540 </span><span><a href="">了解详情》</a></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                </div>
        </main>
        <div class="wn-ground">
            <img src="../../src/img/option2.png" alt="">
        </div>
    </section>
    <!-- 内容结束 -->
    <footer>
        <main >
            <div class="wn-content">
                <p style="margin-bottom:8px">订阅LUCKY电子资讯</p>
                <p style="margin-bottom:30px">通过订阅，即代表您接受LUCKY的<a href=""><b>隐私政策</b></a>条款</p>
                <div class="email">
                    <input type="email" name="" id="" placeholder="请输入电子邮箱" > 
                    <input type="submit" value=">" style="background: #b1afaf;width:33px;cursor:pointer;line-height: 33px;">
                </div>
            </div>
            <div class="wn-city">
                <p style="margin-bottom:50px">直营店查询</p>
                <div class="city">
            <select name="" id="province" style="margin-right:58px">
                <option value="">请选择省份</option>
            </select>
            <select name="" id="city">
                <option value="">请选择城市</option>
            </select>
                </div>
            </div>
            <div class="introduction">
                <ul>
                    <li><h4>客服服务</h4></li>
                    <li><a href="">联系人</a></li>
                    <li><a href="">常见问题解答</a></li>
                    <li><a href="">取消订阅</a></li>
                </ul>
                <ul>
                    <li><h4>关于</h4></li>
                    <li><a href="">新闻</a></li>
                    <li><a href="">可访问性</a></li>
                    <li><a href="">招贤纳士</a></li>
                </ul>
                <ul>
                    <li><h4>法律</h4></li>
                    <li><a href="">隐私政策</a></li>
                    <li><a href="">浏览器缓存政策</a></li>
                    <li><a href="">条款与条件</a></li>
                </ul>
                <div class="ICP">
                    <img src="../../src/img/PIC.png" alt="">
                    <span>沪ICP备14013177号</span>
                    <p>沪公网安备31010602001699号</p>
                </div>
            </div>
        </main>
    </footer>
    <!-- 尾部结束 -->
</body>
</html>