
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../src/css/cosmetics.css">
    <link rel="stylesheet" href="../../src/css/iconfont.css">
    <script src="../../src/js/jquery.min.js"></script>
    <script src="../../src/js/bootstrap.min.js"></script>
    <script src="../../src/js/comment.js"></script>
</head>
<body>
<!--头部开始-->
<header>
    <div class="logo">
        <img src="../../src/img/p4.png" alt="">
        <div class="name">LUCKY</div>
    </div>
    <ul class="h_nav">
        <li><a href="">首页</a><p>HOME</p></li>
        <li><a href="">品牌故事</a></li>
        <li><a href="">产品展示</a></li>
        <li><a href="cosmetics.html">新闻中心</a></li>
        <li><a href="">品牌资讯</a></li>
        <li><a href="">邂逅0.2℃</a></li>
    </ul>
</header>
<!--头部结束-->
<!--假轮播图开始-->
<div class="nav">
    <div class="nav-content">
        <div class="nav-box1">
            <div class="nav-word">品牌历史</div>
            <div class="nav-add">+</div>
            <div class="nav-add1">+</div>
        </div>
        <div class="nav-word1"><p>HISTORY OF LUCKY</p></div>
        <div class="nav-word2"><p>I WILL STAND A FISHING ROD FISHING ALONE</p></div>
        <div class="nav-word3"><p>YEARS THAT SAID OF STORY</p> </div>
    </div>
    <div class="nav-zhezhao"></div>
</div>
<!--假轮播图结束-->
<div class="sdh-box">


    <!--新闻title-->
    <div class="sdh-top-box">
        <div class="home-content">
            <div class="home-word">首页</div>
            <div class="home-img">
                <img src="../../src/img/p2.png" alt="">
            </div>
            <div class="home-word1">新闻中心</div>
        </div>
    </div>
    <!--新闻title结束-->
    <!--标题一开始-->
    <div class="sdh-title">
        <div class="sdh-title-content">
            <img src="../../src/img/新闻略缩_03.png" alt="">
        </div>
    </div>
    <!--标题一结束-->
    <!--标题一内容开始-->
    <div class="sdh-content">
        <div class="sdh-left">
            <img src="../../src/img/新闻略缩_02.png" alt="">
        </div>
        <a href="cosmeticsx.html" class="sdh-right">
            <p>维密超模 egg Hou 代言LUCKY</p>
            <p>Dimension, the Dimension supermodel, Endorsement lucky</p>
            <p>1983年4月20日出生于澳大利亚新南威尔士冈尼达，模特。13岁时便开始从《Dolly》杂志封面女郎的全国模特甄选竞赛中荣获冠,步入模特生涯。因代言美宝莲而被关注。2007年代言维多利亚的秘密签约成为家喻户晓的“天使超模”。2010年6月，与奥兰多.布鲁正式订婚。</p>
            <div class="icon">
                <i class="icon iconfont icon-kandian"></i><span>5334</span><i class="icon iconfont icon-wodeshoucang"></i><span>5334</span><i class="icon iconfont icon-qunfengfenxiang"></i><span>5334</span>
            </div>
        </a>
    </div>
    <div class="sdh-content">
        <a href="cosmeticsx.html" class="sdh-left">
            <p>维密超模 egg Hou 代言LUCKY</p>
            <p>Dimension, the Dimension supermodel, Endorsement lucky</p>
            <p>1983年4月20日出生于澳大利亚新南威尔士冈尼达，模特。13岁时便开始从《Dolly》杂志封面女郎的全国模特甄选竞赛中荣获冠,步入模特生涯。因代言美宝莲而被关注。2007年代言维多利亚的秘密签约成为家喻户晓的“天使超模”。2010年6月，与奥兰多.布鲁正式订婚。</p>
            <div class="icon">
                <i class="icon iconfont icon-kandian"></i><span>5334</span><i class="icon iconfont icon-wodeshoucang"></i><span>5334</span><i class="icon iconfont icon-qunfengfenxiang"></i><span>5334</span>
            </div>
        </a>
        <div class="sdh-right">
            <img src="../../src/img/新闻略缩_01.png" alt="">
        </div>
    </div>
    <!--标题一内容结束-->
    <!--标题二开始-->
    <div class="sdh-title2">
        <div class="sdh-title2-content">
            <img src="../../src/img/新闻略缩_03.png" alt="">
        </div>
    </div>
    <!--标题二结束-->
    <!--标题二内容开始-->
    <!--最新新闻-->
    <div class="sdh-history">
        <ul>
            <li>
                <div class="sdh-history-left">
                    <img src="../../src/img/新闻略缩_04.png" alt="">
                </div>
                <div class="sdh-history-right">
                    <a>
                        <p>维密超模 egg Hou 代言LUCKY</p>
                        <p>Dimension, the Dimension supermodel, Endorsement lucky</p>
                        <div>
                            <div></div>
                        </div>

                        <p>1983年4月20日出生于澳大利亚新南威尔士冈尼达，模特。13岁时便开始从《Dolly》杂志封面女郎的全国模特甄选竞赛中荣获冠,步入模特生涯。因代言美宝莲而被关注。2007年代言维多利亚的秘密签约成为家喻户晓的“天使超模”。2010年6月，与奥兰多.布鲁正式订婚。</p>
                    </a>
                    <div class="icon">
                        <i class="iconfont icon-kandian"></i><span>5545</span><br>
                        <br>
                        <i class="iconfont icon-wodeshoucang"></i><span>5545</span><br>
                        <br>
                        <i class="iconfont icon-qunfengfenxiang"></i><span>5545</span><br>
                    </div>
                </div>
            </li>
            <li>
                <div class="sdh-history-left">
                    <img src="../../src/img/新闻略缩_06.png" alt="">
                </div>
                <div class="sdh-history-right">
                    <a>
                        <p>维密超模 egg Hou 代言LUCKY</p>
                        <p>Dimension, the Dimension supermodel, Endorsement lucky</p>
                        <div>
                            <div></div>
                        </div>

                        <p>1983年4月20日出生于澳大利亚新南威尔士冈尼达，模特。13岁时便开始从《Dolly》杂志封面女郎的全国模特甄选竞赛中荣获冠,步入模特生涯。因代言美宝莲而被关注。2007年代言维多利亚的秘密签约成为家喻户晓的“天使超模”。2010年6月，与奥兰多.布鲁正式订婚。</p>
                    </a>
                    <div class="icon">
                        <i class="iconfont icon-kandian"></i><span>5545</span><br>
                        <br>
                        <i class="iconfont icon-wodeshoucang"></i><span>5545</span><br>
                        <br>
                        <i class="iconfont icon-qunfengfenxiang"></i><span>5545</span><br>
                    </div>
                </div>
            </li>
            <li>
                <div class="sdh-history-left">
                    <img src="../../src/img/新闻略缩_08.png" alt="">
                </div>
                <div class="sdh-history-right">
                    <a>
                        <p>维密超模 egg Hou 代言LUCKY</p>
                        <p>Dimension, the Dimension supermodel, Endorsement lucky</p>
                        <div>
                            <div></div>
                        </div>

                        <p>1983年4月20日出生于澳大利亚新南威尔士冈尼达，模特。13岁时便开始从《Dolly》杂志封面女郎的全国模特甄选竞赛中荣获冠,步入模特生涯。因代言美宝莲而被关注。2007年代言维多利亚的秘密签约成为家喻户晓的“天使超模”。2010年6月，与奥兰多.布鲁正式订婚。</p>
                    </a>
                    <div class="icon">
                        <i class="iconfont icon-kandian"></i><span>5545</span><br>
                        <br>
                        <i class="iconfont icon-wodeshoucang"></i><span>5545</span><br>
                        <br>
                        <i class="iconfont icon-qunfengfenxiang"></i><span>5545</span><br>
                    </div>
                </div>
            </li>
            <li>
                <div class="sdh-history-left">
                    <img src="../../src/img/新闻略缩_10.png" alt="">
                </div>
                <div class="sdh-history-right">
                    <a>
                        <p>维密超模 egg Hou 代言LUCKY</p>
                        <p>Dimension, the Dimension supermodel, Endorsement lucky</p>
                        <div>
                            <div></div>
                        </div>

                        <p>1983年4月20日出生于澳大利亚新南威尔士冈尼达，模特。13岁时便开始从《Dolly》杂志封面女郎的全国模特甄选竞赛中荣获冠,步入模特生涯。因代言美宝莲而被关注。2007年代言维多利亚的秘密签约成为家喻户晓的“天使超模”。2010年6月，与奥兰多.布鲁正式订婚。</p>
                    </a>
                    <div class="icon">
                        <i class="iconfont icon-kandian"></i><span>5545</span><br>
                        <br>
                        <i class="iconfont icon-wodeshoucang"></i><span>5545</span><br>
                        <br>
                        <i class="iconfont icon-qunfengfenxiang"></i><span>5545</span><br>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--最新新闻结束-->
    <!--分页开始-->
    <div class="sdh-fen">
        <div>
            <ul>
                <li><a href="">上一页</a></li>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li>...</li>
                <li><a href="">56</a></li>
                <li><a href="">下一页</a></li>
            </ul>
        </div>
    </div>
    <!--分页结束-->
</div>
<!--底部开始-->
<footer>
    <main >
        <div class="wn-content">
            <p style="margin-bottom:8px">订阅LUCKY电子资讯</p>
            <p style="margin-bottom:30px">通过订阅，即代表您接受LUCKY的<a href=""><b>隐私政策</b></a>条款</p>
            <div class="email">
                <input type="email" name="" id="" placeholder="请输入电子邮箱" >
                <input type="submit" value=">" style="background: #b1afaf;width:33px;cursor:pointer;line-height: 33px;">
            </div>
        </div>
        <div class="wn-city">
            <p style="margin-bottom:50px">直营店查询</p>
            <div class="city">
                <select name="" id="province" style="margin-right:58px">
                    <option value="">请选择省份</option>
                </select>
                <select name="" id="city">
                    <option value="">请选择城市</option>
                </select>
            </div>
        </div>
        <div class="introduction">
            <ul>
                <li><h4>客服服务</h4></li>
                <li><a href="">联系人</a></li>
                <li><a href="">常见问题解答</a></li>
                <li><a href="">取消订阅</a></li>
            </ul>
            <ul>
                <li><h4>关于</h4></li>
                <li><a href="">新闻</a></li>
                <li><a href="">可访问性</a></li>
                <li><a href="">招贤纳士</a></li>
            </ul>
            <ul>
                <li><h4>法律</h4></li>
                <li><a href="">隐私政策</a></li>
                <li><a href="">浏览器缓存政策</a></li>
                <li><a href="">条款与条件</a></li>
            </ul>
            <div class="ICP">
                <div class="sdh-ICP">
                    <img src="../../src/img/PIC.png" alt="">
                </div>
                <div>
                    <span>沪ICP备14013177号</span>
                </div>
                <div>
                    <p>沪公网安备31010602001699号</p>
                </div>
                <!--<span>沪ICP备14013177号</span>-->
                <!--<p>沪公网安备31010602001699号</p>-->
            </div>
        </div>
    </main>
</footer>
<!--底部结束-->
</body>
</html>