<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../src/css/logoin.css">
    <link rel="stylesheet" href="../../src/iconfont/iconfont.css">
</head>
<body>
<div class="logoin">
    <div class="logoin-top">
        <div class="logoin-top-word">登录</div>
        <div class="logoin-top-img">
            <img src="../../src/img/dengru.png" alt="">
        </div>
    </div>
    <div class="logoin-bottom">
        <div class="logoin-left">
            <div class="logoin-content">
                <div class="form">
                    <div class="form-left">
                        <i class="iconfont icon-yonghu"></i>
                    </div>
                    <div class="form-right" >
                        <input type="text" class="form-control" name=""  autocomplete="off" placeholder="请输入您的用户名/手机号/邮箱">
                        <div class="form-bottom">
                            <div class="form-bottom-circle"></div>
                            <div class="form-bottom-border"></div>
                            <div class="form-bottom-circle"></div>
                        </div>
                    </div>
                </div>
                <div class="form password">
                    <div class="form-left">
                        <div class="form-left">
                            <i class="iconfont icon-mima"></i>
                        </div>
                    </div>
                    <div class="form-right">
                        <input type="password" class="form-control" name=""  autocomplete="off" placeholder="请输入您的密码">
                        <div class="form-bottom">
                            <div class="form-bottom-circle"></div>
                            <div class="form-bottom-border"></div>
                            <div class="form-bottom-circle"></div>
                        </div>
                    </div>
                </div>
                <div class="form-clearfix">
                    <div class="form-clearfix-rem">
                        <label class="form-checkbox">
                            <input type="checkbox">
                            <span>记住密码</span>
                        </label>
                    </div>
                    <div class="form-forget">忘记密码 ?</div>
                </div>
                <div class="dengru">
                    <button type="submit" class="dengru-logoin">登录</button>
                    <button type="submit" class="dengru-zuce">注册</button>
                </div>
                <div class="logoin-word">第三方登录</div>
                <div class="logoin-icon">
                    <div class="logoin-icon-biao">
                        <i class="iconfont icon-weibo"></i>
                    </div>
                    <div class="logoin-icon-biao">
                        <i class="iconfont icon-QQ"></i>
                    </div>
                    <div class="logoin-icon-biao">
                        <i class="iconfont icon-weixin-copy"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="logoin-right">
            <img src="../../src/img/zhaoxing.png" alt="">
        </div>
    </div>
</div>
</body>
</html>