<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../src/css/singlepage.css">
    <link rel="stylesheet" href="../../src/iconfont/iconfont.css">
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="../../src/css/rest.css">
    <link rel="shortcut icon" href="../../src/img/p4.png">
    <link rel="stylesheet" href="../../src/css/bootstrap.css">
    <script src="../../src/js/bootstrap.min.js"></script>
    <script src="../../src/js/comment.js"></script>
</head>
<body>
<!--头部开始-->
    <header>
        <div class="logo">
            <img src="../../src/img/p4.png" alt="">
            <div class="name">LUCKY</div>
        </div>
        <ul class="h_nav">
            <li><a href="">首页</a><p>HOME</p></li>
            <li><a href="">品牌故事</a></li>
            <li><a href="">产品展示</a></li>
            <li><a href="">新闻中心</a></li>
            <li><a href="">品牌资讯</a></li>
            <li><a href="">邂逅0.2℃</a></li>
        </ul>
    </header>
<!--头部结束-->
<!--假轮播图开始-->
<div class="main-zuti">
    <div class="nav">
        <div class="nav-content">
            <div class="nav-box1">
                <div class="nav-word">品牌历史</div>
                <div class="nav-add">+</div>
                <div class="nav-add1">+</div>
            </div>
            <div class="nav-word1"><p>HISTORY OF LUCKY</p></div>
            <div class="nav-word2"><p>I WILL STAND A FISHING ROD FISHING ALONE</p></div>
            <div class="nav-word3"><p>YEARS THAT SAID OF STORY</p> </div>
        </div>
        <div class="nav-zhezhao"></div>
    </div>
<!--假轮播图结束-->

<!--主体部分开始-->
    <div class="main">
        <!--首页开始-->
        <div class="home">
            <div class="home-content">
                <div class="home-word">首页</div>
                <div class="home-img">
                    <img src="../../src/img/p2.png" alt="">
                </div>
                <div class="home-word1">品牌故事</div>
            </div>
        </div>
        <!--首页结束-->
        <!--品牌历史-->
        <div class="main-his">
            <div class="main-his-img">
                <img src="../../src/img/p4.png" alt="">
            </div>
            <div class="main-his-wenzi">
                <div class="main-his-top">
                    <div class="main-his-word">01</div>
                    <div class="main-his-word1">品牌历史</div>
                    <div class="main-his-word2">CLICK WITH YOU</div>
                </div>
                <div class="main-his-word3"><p>THE LATEST CONSULTATION</p></div>
            </div>
            <div class="main-img">
                <img src="../../src/img/p3.png" alt="">
            </div>
        </div>
        <!--文字内容开始-->
        <div class="main-content">
            <p>1910年，Coco在巴黎开设了一家女装帽店子 (millinery shop)，凭着非凡的针线技巧，缝制出一顶又一顶款式简洁耐看的帽子。她的两名知己为她介绍了不少名流客人。当时女士们已厌倦了花巧的饰边，所以 Chanel简洁的帽子对她们来说犹如甘泉一般清凉。短短一年内，生意节节上升，Coco把她的店子搬到气质更时尚(fashionable)的Rue Cambon，至今这区仍是Chanel总部的根据地。做帽子绝不能满足Coco对时装事业的雄心，所以她进军高级订制服 (Haute Couture)的领域</p>
            <p>1914年，Coco开设了两家时装店，影响后世深远的时装品牌Chanel宣告正式诞生。</p>
            <p>步入二十年代，Chanel设计了不少创新的款式，例如针织水手裙(tricot sailor dress) 、黑色迷你裙(little black dress)、樽领套衣等。而且，Coco从男装上取得灵感，为女装添上多一点男儿味道，一改当年女装过份艳丽的绮靡风尚。例如，将西装褛 (Blazer)加入女装系列中，又推出女装裤子。不要忘记，在二十年代女性只会穿裙子的。 Coco这一连串的创作为现代时装史带来重大革命。Coco对时装美学的独特见解和难得一见的才华，使她结交了不少诗人、画家和知识分子。她的朋友中就有抽象画派大师毕加索(Picasso)、法国诗人导演尚．高克多 (Jean Cocteau)等等。一时风流儒雅，正是法国时装和艺术发展的黄金时期。</p>
        </div>
        <!--文字内容结束-->
        <!--图片内容开始-->
        <div class="main-tu">
            <img src="../../src/img/p5.png" alt="">
        </div>
        <!--图片内容结束-->
        <!--品牌历史-->
        <!--设计理念开始-->
        <div class="main-his design">
            <div class="main-his-img">
                <img src="../../src/img/p4.png" alt="">
            </div>
            <div class="main-his-wenzi">
                <div class="main-his-top">
                    <div class="main-his-word">02</div>
                    <div class="main-his-word1">设计理念</div>
                    <div class="main-his-word2">CLICK WITH YOU</div>
                </div>
                <div class="main-his-word3"><p>THE LATEST CONSULTATION</p></div>
            </div>
            <div class="main-img">
                <img src="../../src/img/p3.png" alt="">
            </div>
        </div>
        <div class="main-tu">
            <img src="../../src/img/p6.png" alt="">
        </div>
        <!--设计理念结束-->
        <!--寻找我们开始-->
        <div class="main-his design">
            <div class="main-his-img">
                <img src="../../src/img/p4.png" alt="">
            </div>
            <div class="main-his-wenzi">
                <div class="main-his-top">
                    <div class="main-his-word">03</div>
                    <div class="main-his-word1">寻找我们</div>
                    <div class="main-his-word2">CLICK WITH YOU</div>
                </div>
                <div class="main-his-word3"><p>THE LATEST CONSULTATION</p></div>
            </div>
            <div class="main-img">
                <img src="../../src/img/p3.png" alt="">
            </div>
        </div>
        <!--寻找我们结束-->
    </div>
<!--寻找我们图片开始-->
    <div class="main-design-img">
        <img src="../../src/img/p8.png" alt="">
    </div>
<!--寻找我们结束-->
<!--主体部分结束-->
<!--联系开始-->
    <div class="contact">
        <ul class="contact-lixi">
            <li>
                <div class="contact-icon">
                    <i class="iconfont icon-telephone"></i>
                </div>
                <div class="contact-content">
                    <div class="contact-word">E-MAIL/您可以发邮箱</div>
                    <div class="contact-nub">1548904942@qq.com</div>
                </div>
            </li>
            <li>
                <div class="contact-icon">
                    <i class="iconfont icon-youxiang"></i>
                </div>
                <div class="contact-content">
                    <div class="contact-word">TEL / 电话来访</div>
                    <div class="contact-nub">15735104323</div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--联系结束-->
<!--底部开始-->
    <footer>
    <main >
        <div class="wn-content">
            <p style="margin-bottom:8px">订阅LUCKY电子资讯</p>
            <p style="margin-bottom:30px">通过订阅，即代表您接受LUCKY的<a href=""><b>隐私政策</b></a>条款</p>
            <div class="email">
                <input type="email" name="" id="" placeholder="请输入电子邮箱" >
                <input type="submit" value=">" style="background: #b1afaf;width:33px;cursor:pointer;line-height: 33px;">
            </div>
        </div>
        <div class="wn-city">
            <p style="margin-bottom:50px">直营店查询</p>
            <div class="city">
                <select name="" id="province" style="margin-right:58px">
                    <option value="">请选择省份</option>
                </select>
                <select name="" id="city">
                    <option value="">请选择城市</option>
                </select>
            </div>
        </div>
        <div class="introduction">
            <ul>
                <li><h4>客服服务</h4></li>
                <li><a href="">联系人</a></li>
                <li><a href="">常见问题解答</a></li>
                <li><a href="">取消订阅</a></li>
            </ul>
            <ul>
                <li><h4>关于</h4></li>
                <li><a href="">新闻</a></li>
                <li><a href="">可访问性</a></li>
                <li><a href="">招贤纳士</a></li>
            </ul>
            <ul>
                <li><h4>法律</h4></li>
                <li><a href="">隐私政策</a></li>
                <li><a href="">浏览器缓存政策</a></li>
                <li><a href="">条款与条件</a></li>
            </ul>
            <div class="ICP">
                <img src="../../src/img/PIC.png" alt="">
                <span>沪ICP备14013177号</span>
                <p>沪公网安备31010602001699号</p>
            </div>
        </div>
    </main>
</footer>
<!--底部结束-->
</body>
</html>